.expense-container {
    max-width: 1000px;
    margin:20 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


.add-expense-form {

    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

}


.expense-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.expense-list ul {
    list-style: none;
    padding: 0;
    width: 100%;
}


.expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f0f0f0;
}

.expense-item span {
    width: 20%;
}

.expense-list button {
    width: 20%;

    background: #dc3545;
    color: white;
    cursor: pointer;
}








